option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.wsgi:application

packages:
  yum:
    python3-devel: []
    postgresql-devel: []

container_commands:
  00_start:
    command: "echo starting initialization"
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate"
    leader_only: true
  02_add_master_data:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py loaddata data/main/*.json"
    leader_only: true
