/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dpbm-blue: #1a4b7e;
    --dpbm-blue-light: #1d61aa;
    --dpbm-blue-dark: #133861;
    --dpbm-yellow: rgba(255,163,0,1);
  }